.btn {
  display: inline-block;
  padding: 0.85rem 1.75rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  background-color: transparent;

  padding: 0.75rem 1.5rem;
  font-size: 0.95rem;

  &:active {
    transform: scale(0.95);
  }
}

.btn--primary {
  background-color: var(--neutral-800);
  color: var(--neutral-50);

  &:hover {
    background-color: var(--neutral-950);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--neutral-400);
  }
}
