body {
  font-family: var(--ff-text);
  font-size: var(--fs-base);
  background-color: var(--neutral-50);
  color: var(--neutral-700);
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: var(--neutral-700) 2px solid;
  outline-offset: 2px;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 1em 0 0.5em;
  font-weight: 700;
  font-family: var(--ff-title);
}

p {
  margin: 1em 0;
}

h1,
.h1 {
  font-size: var(--fs-h1);
}

h2,
.h2 {
  font-size: var(--fs-h2);
}

h3,
.h3 {
  font-size: var(--fs-h3);
}

h4,
.h4 {
  font-size: var(--fs-h4);
}

h5,
.h5 {
  font-size: var(--fs-h5);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

code {
  font-weight: 0.85em;
  background-color: var(--neutral-200);
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}