:root {
  /* Fonts ------------------------------------------------------------------ */

  --fs-base: 1rem;
  --fs-type-scale: 1.125;
  --fs-h1: calc(var(--fs-type-scale) * var(--fs-h2));
  --fs-h2: calc(var(--fs-type-scale) * var(--fs-h3));
  --fs-h3: calc(var(--fs-type-scale) * var(--fs-h4));
  --fs-h4: calc(var(--fs-type-scale) * var(--fs-h5));
  --fs-h5: calc(var(--fs-type-scale) * var(--fs-base));

  --ff-text:
    'Inter', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --ff-title: var(--ff-text);

  /* Colors ----------------------------------------------------------------- */

  --neutral-50: oklch(0.985 0 0);
  --neutral-100: oklch(0.97 0 0);
  --neutral-200: oklch(0.922 0 0);
  --neutral-300: oklch(0.87 0 0);
  --neutral-400: oklch(0.708 0 0);
  --neutral-500: oklch(0.556 0 0);
  --neutral-600: oklch(0.439 0 0);
  --neutral-700: oklch(0.371 0 0);
  --neutral-800: oklch(0.269 0 0);
  --neutral-900: oklch(0.205 0 0);
  --neutral-950: oklch(0.145 0 0);
}
