.site-layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.site-header {
  border-bottom: 1px solid var(--neutral-200);
  background-color: var(--neutral-100);
  margin-bottom: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--neutral-700);

    &:hover {
      text-decoration: underline;
      color: var(--neutral-800);
    }
  }

  nav a {
    padding: 1.25rem 0;

    &[aria-current='page'] {
      font-weight: 600;
    }
  }
}

.site-main {
  flex: 1;
}

.site-footer {
  text-align: center;
}

.skip-link {
  position: absolute;
  top: -4rem;
  left: 0.5rem;
  border-radius: 0.25rem;
  background: var(--neutral-800);
  color: var(--neutral-50);
  padding: 0.75rem;
  z-index: 100;
  transition: top 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  /* 
    Cuando se hace focus al elemento navegando con el teclado se lo muestra
    en pantalla
  */
  &:focus {
    top: 0.5rem;
  }
}
